.page-wrapper {
  font-family: 'Nunito', sans-serif;
  color: #5a5C69;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto auto;
      grid-template: auto / auto auto;
      grid-template-areas: "sidebar Dashboard";
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.Dashboard {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Dashboard;
  background-color: #ffffff;
  min-height: 100vh;
  width: auto;
}

.Dashboard h2 {
  margin-left: 36px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

.panel_board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
  z-index: 3;
}

.panel_board .panel_a, .panel_board .panel_b, .panel_board .panel_c, .panel_board .panel_d {
  background-color: #fff;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  height: 100px;
  width: 290px;
  margin-top: 28px;
  margin-right: 18px;
  -webkit-box-shadow: 0px 0px 34px -5px #a4a4a4;
  box-shadow: 0px 0px 34px -5px #a4a4a4;
  z-index: 5;
  display: block;
  border-left: 5px solid #4e73df;
}

.panel_board .panel_a h3, .panel_board .panel_b h3, .panel_board .panel_c h3, .panel_board .panel_d h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 28px;
  margin-bottom: -18px;
  margin-left: 28px;
  font-size: 12px;
}

.panel_board .panel_a p, .panel_board .panel_b p, .panel_board .panel_c p, .panel_board .panel_d p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #5a5C69;
  font-size: 18px;
  font-weight: 600;
  margin-left: 28px;
}

.panel_board .panel_a h3, .panel_board .panel_b h3, .panel_board .panel_c h3, .panel_board .panel_d h3 {
  color: #4e73df;
}

.panel_board .panel_b {
  border-left: 5px solid #1cc88a;
}

.panel_board .panel_b h3 {
  color: #1cc88a;
}

.panel_board .panel_c {
  border-left: 5px solid #36b9cc;
}

.panel_board .panel_c h3 {
  color: #36b9cc;
}

.panel_board .panel_c .w3-light-grey {
  display: block;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  z-index: 5;
}

.panel_board .panel_d {
  border-left: 5px solid #f6c23e;
}

.panel_board .panel_d h3 {
  color: #f6c23e;
}

.earnings-overview {
  width: 70%;
}

.earnings-overview .graph-body {
  background-color: #fff;
  height: 250px;
  z-index: 4;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  margin-top: -10px;
  -webkit-box-shadow: 0px 0px 34px -5px #a4a4a4;
  box-shadow: 0px 0px 34px -5px #a4a4a4;
  z-index: 5;
}

.earnings-overview .graph-heading h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #4e73df;
  font-weight: 600;
  height: 50px;
  background-color: #f8f9fc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #EEEEEE;
  padding-left: 30px;
  z-index: 5;
}

.earnings-overview #chartContainer {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #ffffff;
}

.revenue-resources {
  width: 25%;
}

.revenue-resources .graph-heading h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #4e73df;
  font-weight: 600;
  height: 50px;
  background-color: #f8f9fc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #EEEEEE;
  padding-left: 30px;
  z-index: 5;
}

.revenue-resources .graph-body {
  background-color: #fff;
  height: 250px;
  z-index: 4;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  margin-top: -10px;
  -webkit-box-shadow: 0px 0px 34px -5px #a4a4a4;
  box-shadow: 0px 0px 34px -5px #a4a4a4;
  z-index: 5;
}

.graph-body .pie {
  width: 100%;
  height: 100%;
  z-index: 10;
}
/*# sourceMappingURL=main.css.map */